@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #13515e;
  --color-secondary: #71B280;
  --color-background-light: #f6f8f8;
  --color-background-dark: #121d20;
  --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif;
}
